<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Stats Wiz</h1>
  
<h2>This is the site that provides all the statistics for current NFL players</h2>
  
  <%= link_to "Sign up Now!", '#', class: "btn btn-large btn-primary" %>
</div>


  

  
  
    