<% provide(:title, 'Home') %>
<div class="jumbotron">
  <div class="container">
   <div class="center hero-unit">
<h1>Welcome to Stats Wiz</h1>
  
<h2>This is the site that provides all the statistics for current NFL players</h2>
  
  <%= link_to "Sign up Now!", '#', class: "btn btn-large btn-primary" %>
    </div>                               
   </div>
</div>  

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Player1</h3>
        <p>...</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Player2</h3>
        <p>...</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Player3</h3>
        <p>...</p>
        
      </div>
    </div>
  </div>
</div>
  


  

  
  
    